.card-small{
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 80px;
  border-radius: 5px;
  transition: .3s linear all;
  font-family: Lucida Console, Courier, monospace;
}

  .card-small:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-small.yellow{
    background-color: #FFA500;
    color: #FFF;
  }

  .card-small.white{
    background-color: #FFF;
    color: #FFF;
    
  }

  .card-small.pink{
    background-color: #B22222;
    color: #FFF;
  }

  .card-small.lightgreen{
    background-color: #20B2AA;
    color: #FFF;
  }
  
  .card-small.darkgreen{
    background-color: #C71585;
    color: #FFF;
  } 

  .card-small i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-small .count-numbers-small{
    position: absolute;
    right: 45px;
    top: 15px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    display: block;
  }

  .card-small .count-prosentase-small{
    position: absolute;
    right: 45px;
    top: 35px;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    display: block;
  }

  .card-small .count-name-small{
    position: absolute;
    right: 45px;
    top: 55px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 12px;
  }